.wrapper {
  font-family: "Poppins", sans-serif;
  background-color: #1e293b;
  min-height: 100vh;
  color: #e2e8f0;
}

.header {
  background-color: #0f172a;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #2d3748;
}

.pageTitle {
  color: #38b2ac;
  margin: 0;
}

.welcomeText {
  margin-top: 6px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  background-color: #273248;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.fullWidth {
  grid-column: span 2;
}

.cardTitle {
  color: #38b2ac;
  margin-bottom: 15px;
}

.input {
  color: black;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: none;
}

.btn {
  background-color: #38b2ac;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background-color: #2c9a93;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.tableRow {}

.tableHeader {
  border: 1px solid #2d3748;
  padding: 10px;
  text-align: center;
  background-color: #1e293b;
  color: #38b2ac;
}

.tableCell {
  border: 1px solid #2d3748;
  padding: 10px;
  text-align: center;
}

.chip {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 13px;
  font-weight: bold;
  color: white;
}

.chipDefaulter {
  background-color: #f6ad55;
  color: #1e293b;
}

.logContainer {
  max-height: 180px;
  overflow-y: auto;
  background-color: #1e293b;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #2d3748;
  font-size: 14px;
}

.logItem {
  margin-bottom: 6px;
}

.timestamp {
  color: #94a3b8;
  font-size: 12px;
}

.qrContainer {
  margin-top: 15px;
  text-align: center;
}

.qrImage {
  width: 200px;
  height: 200px;
}

.successMsg {
  color: #48bb78;
  margin-top: 8px;
}


.logoutBtn {
  width: fit-content;
  padding: 10px 16px;
  margin-top: 20px;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  background-color: #e53e3e;
  color: white;
  cursor: pointer;
}

.loading {
  text-align: center;
  padding: 40px;
}