.body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f6f8;
  min-height: 100vh;
  color: balck;
}

.header {
  background-color: #009879;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 20px;
}

.card {
  background: #f9fafc;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
}

.heading {
  color: #009879;
  margin-bottom: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: #009879;
  color: white;
}

.btn {
  background-color: #009879;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #007a63;
}

.logoutBtn {
  background-color: white;
  color: #009879;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
}

.logoutBtn:hover {
  background-color: #f0f0f0;
}

.alert {
  color: #d9534f;
}

.success {
  margin-top: 10px;
  color: green;
}
